boto3==1.13.23
botocore==1.16.23
celery==3.1.15
certifi==2017.7.27.1
chardet==3.0.4
cssselect==1.0.1
cssselect2==0.2.0
dj-database-url==0.5.0
Django==3.1.9
django-celery==3.3.1
django-core==1.4.1
django-crispy-forms==1.9.0
django-datetimepicker==3.14
django-heroku==0.3.1
django-storages==1.9.1
djangorestframework==3.11.0
docutils==0.15.2
gunicorn==20.0.4
h5py==2.10.0
html5lib==1.0b10
httplib2==0.10.3
idna==2.5
image==1.5.31
jmespath==0.10.0
jsonschema==2.6.0
numpy==1.18.3
oauth2client==4.1.2
openpyxl==2.4.8
Pillow==6.2.1
psycopg2==2.8.5
pygal==2.4.0
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2017.2
redis==2.10.5
requests==2.18.3
s3transfer==0.3.3
six==1.10.0
sqlparse==0.3.1
uritemplate==3.0.0
urllib3==1.23
whitenoise==5.1.0
xhtml2pdf==0.2b1
