{% extends "blog/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About us</li>
  </ol>
</nav>
        <div class="container1 w3-animate-right">
            <div class="pic1 box16">
                <img src="https://github.com/shashilsravan/codeintine/blob/master/images/IMG_20190707_003642_556.jpg?raw=true">
                <div class="box-content">
                <h4 class="w3-animate-right title" style="color:white">Shashil Sravan</h4>
                <span class="post" style="font-size:1.5rem">Full Stack Developer</span>
                <ul class="social">
                    <li><a href="https://www.linkedin.com/in/shashil-sravan-a5b201191/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/shashilsravan"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:shashilsravan.ss.ss@gmail.com"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                </ul>
                </div>
                </div>
            <div class="about1">
                <h3>Press Enter to Know about us</h3>
                <p class="typing-text">
                   >>> I am Sravan. <br>
                    I am a Python & Django Developer... <br>
                    My Pro's are: Python, Data analysis
                    <br> Data visualization,<br>
                    Machine learning and Deep learning
                    </p>
                </div>
            </div>
            <div class="container2">
            <div class="pic2 box16">
                <img src="https://github.com/shashilsravan/codeintine/blob/master/images/0f1d8166-d10f-46c1-b527-82a7ba077d00.jfif?raw=true">
                <div class="box-content">
                <h4 class="title" style="color:white">Sireesha</h4>
                <span class="post" style="font-size:1.5rem">Web Developer</span>
                <ul class="social">
                    <li><a href="https://www.linkedin.com/in/sireesha-chelluri-868855192/"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="https://github.com/siri251"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:sireesha.chelluri2001@gmail.com"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                </ul>
                </div>
            </div>

            <div class="about2">
                <h3>Press Enter to Know about us</h3>
                <p class="typing-text">
                    >>> I am Sireesha. <br>
                    I am a Python & Front end Developer... <br>
                    My Pro's are: Python, Front end
                    <br> and Data visualization
                    </p>
                </div>
            </div>
<script type="text/javascript">
    $('body').keypress(function (e) {
         var key = e.which;
         if(key == 13)  // the enter key code
          {
            $('.typing-text').css('display', 'block');
          }
        });
</script>
{% endblock content %}