{% extends "blog/base.html" %}
{% load extras %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ user }}'s tasks Analysis</li>
  </ol>
</nav>
<div class="alert alert-warning" role="alert">
    <h3 class="text-center"><i class="fa fa-bar-chart"></i><em>Tasks analysis with due</em></h3>
</div>
<canvas id="myChart" width="400" height="250" style="background:white"></canvas>
<progress id="animationProgress" max="1" value="0" style="width: 100%"></progress>

<div class="alert alert-warning mt-3" role="alert">
    <h3 class="text-center"><i class="fa fa-line-chart"></i><em>Task dates with respect to month</em></h3>
</div>
<canvas id="myChart2" width="400" height="250" style="background:white"></canvas>
<progress id="animationProgress2" max="1" value="0" style="width: 100%"></progress>

<table class="table table-striped table-hover mt-5" id="table" data-toggle="table">
    <thead class="thead-dark w3-animate-left">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Tag</th>
            <th scope="col">Posted on</th>
            <th scope="col">Deadline</th>
            <th scope="col">Due</th>
        </tr>
      </thead>
    <tbody>
    {% for post in posts %}
        {% if post.author == user %}
            {% if post.status == 'Not Done' %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.tag }}</td>
            <td>{{ post.date_posted|date }}</td>
            <td>{{ post.deadline|date }}</td>
            <td>{{ post.deadline| days_until }} days</td>
        </tr>
        {% else %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for post in posts %}{% if post.author == user %}{% if post.status == 'Not Done' %}
            '{{ post.title }}',
                {% endif %}{% endif %}{% endfor %}],
        datasets: [{
            label: 'Task Due',
            data: [{% for post in posts %}{% if post.author == user %}{% if post.status == 'Not Done' %}
        {{ post.deadline| days_until }},
                {% endif %}{% endif %}{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 30, 30, 0.2)',
                'rgba(0, 255, 30, 0.2)',
                'rgba(255, 30, 255, 0.2)',
                'rgba(255, 0, 30, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 30, 30, 0.2)',
                'rgba(0, 255, 30, 0.2)',
                'rgba(255, 30, 255, 0.2)',
                'rgba(255, 0, 30, 0.2)',
            ],
            borderWidth: 2
        }]
    },
    options: {
        animation:{
            duration: 2000,
            onProgress: function(animation) {
						progress.value = animation.currentStep / animation.numSteps;
						},
			onComplete: function(){
			    window.setTimeout(function (){
                    progress.value = 1;
			    }, 2000);
			},
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var progress = document.getElementById('animationProgress');
var progress2 = document.getElementById('animationProgress2');
var ctx2 = document.getElementById('myChart2');
var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: [{% for post in posts %}{% if post.author == user %}{% if post.status == 'Not Done' %}
            '{{ post.deadline|date:"M"}}',
                {% endif %}{% endif %}{% endfor %}],
        datasets: [{
            label: 'You have a Task on the date',
            data: [{% for post in posts %}{% if post.author == user %}{% if post.status == 'Not Done' %}
        {{ post.deadline|date:"d" }},
                {% endif %}{% endif %}{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 30, 30, 0.2)',
                'rgba(0, 255, 30, 0.2)',
                'rgba(255, 30, 255, 0.2)',
                'rgba(255, 0, 30, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 30, 30, 0.2)',
                'rgba(0, 255, 30, 0.2)',
                'rgba(255, 30, 255, 0.2)',
                'rgba(255, 0, 30, 0.2)',
            ],
            borderWidth: 2
        }]
    },
    options: {
        animation:{
            duration: 2000,
            onProgress: function(animation) {
						progress2.value = animation.currentStep / animation.numSteps;
						},
			onComplete: function(){
			    window.setTimeout(function (){
                    progress2.value = 1;
			    }, 2000);
			},
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

{% endblock content %}