{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section w3-animate-right">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 w3-animate-bottom"> Register Here</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info w3-animate-top" type="submit">
                    Sign Up
                </button>
            </div>
        </form>
        <div class="border-top pt-1 w3-animate-left">
            <small class="text-muted"> Do you have an account Already?
            <a class="ml-2" href="{% url 'login' %}"> Sign in</a> Here </small>
        </div>
    </div>
{% endblock content %}
